<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>{{ title }}</h1>
    <p>This Flask app was deployed using Ansible on AWS!</p>
    <p>This Flask app was deployed on channel DGRUploads!</p>
    <p>This Flask app was deployed on channel DGRUploads!</p>
    <p>This is an example for centralzied workflow</p>
    <p>This is an example for feature branching workflow</p>
        <p>This Flask app was deployed using Ansible on AWS!</p>
    <p>This Flask app was deployed on channel DGRUploads!</p>
    <p>This Flask app was deployed on channel DGRUploads!</p>
    <p>This is an example for centralzied workflow</p>
    <p>This is an example for feature branching workflow</p>
</body>
</html>
